/* ===================================
====================================== LAYOUT HELPER CLASSES
=================================== */

@for $i from 1 through 10 { 
  $h: percentage($i/10);
  .h-#{$i}0 {
    height: $h;
  }
}

  .m-b-05 {
    margin-bottom: 0.5rem;
  }

@for $i from 1 through 6 { 
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .p-t-#{$i} {
    padding-top: #{$i}rem;
  }
  .p-b-#{$i} {
    padding-bottom: #{$i}rem;
  }
  .p-r-#{$i} {
    padding-right: #{$i}rem;
  }
  .p-l-#{$i} {
    padding-left: #{$i}rem;
  }
  .m-b-#{$i} {
    margin-bottom: #{$i}rem;
  }
}


/* ===================================
====================================== FULL-HEIGHT
=================================== */

html,
body {
  min-height: 100%;
  width: 100%;
}

/* ===================================
====================================== HEADER
=================================== */

.bordered {
//  border: 1px solid $black;
}

/* ===================================
====================================== NAV
=================================== */

.button.nav-button {
  font-weight: normal;
  background: none;
  color: $black;
  padding-left: .1rem;
}

.logo {
  margin: .6rem;
  max-width: 3.5rem;
}

a.nav-title-downlink:hover {
  color: $black;
}

a.nav-title-downlink::after {
  background-image: url('../img/ATYOLK-down_arrow-black.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-left: .5rem;
  opacity: 0;
  transition: opacity .25s ease-out;
  content: "";
  @include breakpoint(medium) {
    height: 2.6rem;
    width: 2.6rem;
  }
}
a.nav-title-downlink:hover::after {
  opacity: 1;
}

/* ===================================
====================================== ORBIT
=================================== */

.orbit-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.orbit-caption {
  padding: 1rem;
  background: none;
  color: white;
  text-align: center;
  font-style: normal;
}

.orbit-previous,
.orbit-next {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  padding: .5rem;
  background-size: 1.75rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;
  transition: all 0.25s ease-out;
  &:hover {
    background-color: $black;
  }
}
.orbit-previous {
  background-image: url('../img/ATYOLK-left_arrow-black.png');
  margin-left: 1rem;
  &:hover {
    background-image: url('../img/ATYOLK-left_arrow.png')
  }
}
.orbit-next {
  background-image: url('../img/ATYOLK-right_arrow-black.png');
  margin-right: 1rem;
  &:hover {
    background-image: url('../img/ATYOLK-right_arrow.png')
  }
}


/* ===================================
====================================== FOOTER
=================================== */

.instagram-link {
  text-align: center;
  display: inline-block;
  img {
    display: inline-block;
    width: 20%;
    margin: auto;
    margin-top: 40%;
  }
}

.instagram-photo-container {
  position: relative;
}

.instagram-photo-link {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  right: 0;
  font-weight: bold;
  color: $white;
//  height: 100%;
//  width: 100%;
  &:after {
    content: "@atyolk";
    color: $white;
    background-image: url('../img/ATYOLK-Icon_instagram.png');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 50%;
    top: 50%;
    padding-top: 2.5rem;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
  &:hover {
    background-color: rgba(0,0,0,0.3);
    &:after {
      opacity: 1;
    }
  }
}

footer a {
  text-transform: none;
}

input[type='email'] {
  display: inline-block;
  background: $black;
  font-size: 2rem;
  border-color: $white;
  border-style: solid;
  border-width: 0 0 1px 0;
  height: 3.75rem;
  color: $white;
  border-radius: 0;
  width: 85%;
  &:active,
  &:hover, 
  &:focus {
    background: $black;
    outline: none;
    box-shadow: none;
    border-color: $white;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
}

footer {
  button[type='submit'] {
    color: $white;
    display: inline;
    padding: .5rem;
    position: relative;
    left: -4rem;
    height: 3rem;
    width: 3rem;
    background-image: url('../img/ATYOLK-right_arrow.png');
    background-size: contain;
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: .7;
    }
  }
}

.sign-up {
  .success-message,
  .error-message {
    display: none;
    color: $white !important;
    &.show {
      display: block;
    }
  }

  #subscribe_email-error {
    color: $white !important;
    position: absolute;
  }
}

.form-controls.done {
  display: none;
}

.form-control {
  -webkit-backface-visibility: hidden;
}

::-webkit-input-placeholder {
  color: $white;
}
::-moz-placeholder {
  color: $white;
}
:-ms-input-placeholder {
  color: $white;
}
:-moz-placeholder {
  color: $white;
}

footer h3,
footer .h3 {
  margin-top: 6rem;
}

.social-icon-link {
  margin-right: 1rem;
  &:hover {
    opacity: .7;
  }
}

.social-icon-img {
  height: 48px;
  width: 48px;
}