/* ===================================
====================================== TYPOGRAPHY HELPER CLASSES
=================================== */

.body-font-family {
  font-family: $body-font-family;
}

.text-uppercase {
  text-transform: uppercase;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  text-transform: uppercase;
}

h2 small {
  font-size: 45%;
  font-weight: bold;
}

p {
  letter-spacing: -.2px;
}

.button.hollow:hover {
  color: $white;
  background: $black;
}

figure {
  margin-bottom: 1rem;
}

figcaption {
  font-style: italic;
}

p {
  max-width: 700px;
}

h2 {
  margin-top: -.5rem;
}

h3 {
  margin-top: .5rem;
}

.round {
  border-radius: 3rem;
}

/* ===================================
====================================== COLOR AND STYLE
=================================== */

.background-black {
  background: $black;
  color: $white;
}

.background-white {
  background: $white;
  color: $black;
}


.horizontal-line {
  display: block;
  border-top: 1px solid $black;
  width: 100%;
  position: relative;
  top: .5rem;
  z-index: -1;
}

.button {
  transition: all 0.25 ease-out;
}