<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{{meta-title}}</title>
    <meta name="keywords" content="{{meta-keywords}}">
    <meta name="author" content="Studio" />
    <meta name="description" content="{{meta-description}}">
    <meta property="og:title" content="{{og-title}}" />
    <meta property="og:description" content="{{og-description}}" />
    <meta property="og:url" content="http://atyolk.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{meta-title}}" />
<!--
    <meta property="og:image" content="http://atyolk.com/assets/img/eye-share.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">
-->
    <meta itemprop="name" content="At Yolk">
    <meta itemprop="url" content="http://atyolk.com">
<!--    <meta itemprop="description" content="">-->
<!--    <meta name="twitter:card" content="summary_large_image">-->
    <meta name="twitter:site" content="@atyolk">
    <meta name="twitter:creator" content="@atyolk">
    <meta name="twitter:title" content="At Yolk">
    <meta name="twitter:description" content="">
<!--    <meta name="twitter:image" content="http://atyolk.com/assets/img/eye-share.png">-->
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-touch-icon-152x152-precomposed.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="At Yolk">
    
    {{> analytics}}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    
    {{> webfonts}}
    
  </head>
  <body class="no-js">
<!--    <script>document.body.className += ' fade'</script>-->
    {{> no-script-analytics}}
    {{> body}}
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    
  </body>
</html>
